.App {
  text-align: center;
  padding-top: 1em;
  font-family: "Open Sans", sans-serif;
  min-width: 930px;
}

.graphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  background-color: #4dc4ff;

  margin-top: 0.5em;
  padding: 0.1em;
  min-width: 930px;
}

.table {
  margin: 1em;
  min-width: 920px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: none;
}

.edit {
  margin-right: 0.5em;
}

.cancel {
  margin-right: 0.5em;
}
